.dashboard-main{
    height: 100vh;
    flex-grow: unset;
}
.profile-outer{
    /* width: 20vw; */
    border-radius: 10%;
    background-color: #000000;
    box-shadow: 21px 0 124px -26px #162859;
    /* background: radial-gradient(circle, rgba(5,28,54,1) 0%, rgba(11,33,56,1) 36%, rgba(18,50,83,1) 60%, rgba(20,51,84,1) 78%, rgba(1,5,10,1) 100%); */
}
.profile-outer img{
    background-color: #000000;
    box-shadow: 21px 0 124px -26px #162859;
}
.cur-stocks-outer{
    height: 100%;
    width: 60vw;
    scrollbar-width: none;
}
.cur-stocks-inner::-webkit-scrollbar{
    display: none;
}
.watchlist::-webkit-scrollbar{
    display: none;
}
.current-stocks{
    background-color: #000000;
    box-shadow: 21px 0 124px -26px #162859;
    border-radius: 5%;
    /* margin: 20px 0; */
}
.stock-card-main{
    border-radius: 40px;
    background-color: #000000;
    box-shadow: 21px 0 124px -26px #162859;
}
.stock-card-main img, .watchlist-card img{
    height:50px;
    width:50px;
    border-radius: 50%;
}
.transaction-card img{
    height:50px;
    width:50px;
    border-radius: 50%;
}
.transaction-card-main, .watchlist-card-main{
    background-color: #000000;
}
.transaction-card{
    /* width: 80vw; */
    box-shadow: 21px 0 124px -26px #162859;
}
.watchlist-card{
    box-shadow: 21px 0 124px -26px #162859;
}

.mobile{
    display: none !important;
}

@media screen and (max-width: 900px) {
    .mobile{
        display: flex;
    }
    .dashboard-main{
        display: none
    }
    .watchlist-card-main{
        height: 10vh;
        width: 20vh;
    }
    .watchlist-card-main img{
        height: 40px;
        width: 40px;
    }
    .watchlist-title{
        width: auto;
        font-size: 15px;
    }
    .watchlist-desc{
        width: auto;
        font-size: 10px;;
    }
    .stock-card-main{
        margin: 0;;
        padding: 10px;
    }
}

.funcs{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
